:root {
    --primary-text: #333;
    --secondary-text: #666;
    --accent-color: #007bff;
    --accent-color-dark: #0056b3;
    background-color: #f5f5f5;
    color: var(--primary-text);
  }
  
  [data-theme='dark'] {
    --primary-text: #f5f5f5;
    --secondary-text: #aaa;
    --accent-color: #1e90ff;
    --accent-color-dark: #0f5eab;
    background-color: #121212;
    color: var(--primary-text);
  }